<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raven-OS Documentation</title>
</head>
<body>
    <h2>Raven-OS's - Branches for {{project}} ({{branches_len}} available):</h2>
    <ul>
    {{#each branches}}
        <li><a href="/{{../project}}/{{this}}/index.html">{{this}}</a></li>
    {{/each}}
    </ul>
</body>
